h2 {
    margin-left: 30px;
    margin-top: 18px;
    color: #1883ba;
}
 
button {
    margin-left: 20%;
    margin-top: 10px;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #1883ba;
}

li{
    list-style: none;
    padding: 10px 0;
}

input{
    background-color: gainsboro;
    border: solid 2px gray;
}

.none {
    visibility: hidden;
}


